{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block context %}
  <!-- Home Design -->
  <div class="ulockd-home-slider">
    <div class="container-fluid">
      <div class="row">
        <div class="pogoSlider" id="js-main-slider">
          <div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="1500" style="background-image:url({% static 'images/home/h1.jpg' %});">
            <div class="lbox-caption">
              <div class="lbox-details text-left">
                <!-- <h1 class="fz60">Welcome <span class="text-thm2 bgc-white">Kryptocoin</span></h1>
                <h2 class="ulockd-mrgn120">Start Mining & Trading</h2> -->

              
                               <h1 class="fz45">Angel Broking</span></h1>
                <h2 class="ulockd-mrgn120 mb-5">Start Trading with Angel Broking Demat Account Today!!</h2>

                <div class="col-auto my-1">
      <a href="https://5minwebsite.angelbroking.com/" class="btn btn-lg ulockd-btn-thm2" >Open an account</a>
     
    </div>

               <!--  <div class="container angleboxbanner ">

                <p class="angleboxtxt"> Open Free* Demat Account | Enjoy Free Equity Delivery Trade for Lifetime</p>

                <form>
  <div class="form-group form-row align-items-center">
    <div class="col-sm-3 my-1">
     
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="Name">
    </div>
    <div class="col-sm-3 my-1">
    
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="Mobile No">
    </div>

    <div class="col-sm-3 my-1">
   
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="Current city">
    </div>
    
    
    <div class="col-auto my-1">
      <button type="submit" class="btn opnacbt">Open an account</button>
     
    </div>
  </div>
</form>
</div> -->
              </div>
            </div>
          </div>
          <div class="pogoSlider-slide" data-transition="blocksReveal" data-duration="2000" style="background-image:url({% static 'images/home/h2.jpg' %});">
            <div class="lbox-caption">
              <div class="lbox-details">
                <h1 class="fz45">Invest In Mutual Fund</h1>
                <h2 class="ulockd-mrgn120"> Guidence Need For Success</h2>
                <button class="btn btn-lg ulockd-btn-thm2">More Info</button>
                <button class="btn btn-lg ulockd-btn-blue">Contact Us</button>
              </div>
            </div>
          </div>
          <div class="pogoSlider-slide" data-transition="shrinkReveal" data-duration="2000" style="background-image:url({% static 'images/home/h3.jpg' %});">
            <div class="lbox-caption">
              <div class="lbox-details">
                <h1 class="fz48">Mutual Fund Investment</h1>
                <h2>Guidence Need For Success</h2>
                <button class="btn btn-lg ulockd-btn-thm2">Get Quote</button>
                <button class="btn btn-lg ulockd-btn-blue">More Info</button>
              </div>
            </div>
          </div>
        </div><!-- .pogoSlider -->
      </div>
    </div>
  </div>



<section class="about bgc-whitef6">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="ulockd-main-title">
            <h2 class="mt-separator">Check SENSEX</h2>
              <img class="img-responsive" src="{% static 'images/line67.png' %}" alt="title_img.png">
           <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-6">
          <div class="img-box text-center">
            <h1 class="fz48">BSE</h1>
            <div class="thumb">
              <img class="img-responsive" src="{% static 'images/BSE.jpg' %}" alt="b2.png">              
            </div>
            <div class="ibox-details">
             <!--  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p> -->
            </div>
          </div>
        </div>
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-6">
          <div class="img-box text-center">
            <h1 class="fz48">NSE</h1>
            <div class="thumb">
              <img class="img-responsive" src="{% static 'images/BSE.jpg' %}" alt="b7.png">              
            </div>
            <div class="ibox-details">
              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p> -->
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>






  <!-- Our Feature -->
  <section class="ulockd-feature-box" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about-box">
            <div class="title">
              <p class="lead text-thm2 ulockd-mrgn610">Ganimikawa Share</p>
              <h2 class="ulockd-mrgn120 orangtxt">Welcome to Ganimikawa share </h2>
            </div>
            <div class="details">
              <p>Ganimikawa means guerrilla warfare in English and chapamar yudh in hindi. A technique that deftly battles a small number of soldiers with a large number of soldiers.information about financial market and stock market will be share on <span class="orangtxt"><b> Ganimikawa share </b></span> . big money is in the hands of financial institutions in the stock market, these economic institutions increase and fall in the stock market with their huge power. </p>
                <br>
                <p class="mt-1">In the front of them the new investors and traders are defeated due to their incomplete understanding. Efforts will be made to familiarize you with the stock market on <span class="orangtxt"> <b>Ganimikawa share </b> </span>so that you to can compete with big money smartly</p>
              
              <!-- <a class="btn btn-lg ulockd-btn-thm2" href="#">More Info</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-box">
            <div class="ab-thumb">
              <img class="img-responsive img-whp" src="{% static 'images/background/2.jpg' %}" alt="6.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  

  <!-- Our Feature -->
  <!--  -->
  

  <!-- Our Service -->
  

  

  
  <!-- <section class="divider-half style3 bgc-snowshade">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5">
          <h2 class="ulockd-mrgn120">Instant Trading</h2>
          <div class="frameWrap js-widget-iframe">
            <iframe class="h400" name="myFrame" id="myWidgetIFrame" src="https://investingwidgets.com/crypto-currency-rates"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  

  <!-- Our Blog -->
  <section class="ulockd-blog bgc-whitef6" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center ">
          <div class="ulockd-main-title">
            <h2 class="mt-separator">Blogs</h2>
            <img class="img-responsive" src="{% static 'images/line67.png' %}" alt="title_img.png">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in data %}
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4" style="margin-bottom: 30px">
          <div class="blog_post">
            <div class="thumb">
<!--               {% thumbnail i.banner_image "360x535" crop="center" as im %}
    <img src="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ im.url }}" class="img-responsive img-whp"  width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %} -->

              <img class="img-responsive img-whp" src="{% static 'images/blog/1.jpg' %}" alt="1.jpg">
              <div class="overlay">
                <h5 class="title-bottom">{{i.category}}</h5>
                <h3>{{i.title}}</h3>
                <p class="ulockd-mrgn1215">{{i.short_description}}</p>
                <a class="btn btn-lg ulockd-btn-thm2" href="{% url 'page:blog-view' i.id %}">Read More</a>
              </div>
            </div>
            <div class="details">
              <h4 class="post_date ulockd-bgthm">{{i.create_at}}</h4>
              <h3>{{i.title}}</h3>
              <ul class="list-inline">
                <!-- <li><a href="#"><span class="fa fa-user text-thm2"></span>User</a></li> -->
                <li><a href="#"><span class="fa fa-comment text-thm2"></span>{{i.comment}}</a></li>
                <li><a href="#"><span class="fa fa-star text-thm2"></span> {{i.rating}}</a></li>
                <!-- <li><a href="#"><span class="fa fa-share text-thm2"></span> 157</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
     <!--    <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
          <div class="blog_post">
            <div class="thumb">
              <img class="img-responsive img-whp" src="{% static 'images/blog/2.jpg' %}" alt="2.jpg">              
              <div class="overlay">
                <h5 class="title-bottom">New Post</h5>
                <h3>LATEST ORPHANAGE NEWS</h3>
                <p class="ulockd-mrgn1215">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                <a class="btn btn-lg ulockd-btn-thm2" href="#">Read More</a>
              </div>
            </div>
            <div class="overlay"></div>
            <div class="details">
              <h4 class="post_date ulockd-bgthm">20 Dec 2018</h4>
              <h3>LATEST ORPHANAGE NEWS</h3>
              <ul class="list-inline">
                <li><a href="#"><span class="fa fa-user text-thm2"></span> UlockDesign</a></li>
                <li><a href="#"><span class="fa fa-comment text-thm2"></span> 67</a></li>
                <li><a href="#"><span class="fa fa-star text-thm2"></span> 4</a></li>
                <li><a href="#"><span class="fa fa-share text-thm2"></span> 157</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
          <div class="blog_post">
            <div class="thumb">
              <img class="img-responsive img-whp" src="{% static 'images/blog/3.jpg' %}" alt="3.jpg">              
              <div class="overlay">
                <h5 class="title-bottom">Digital Post</h5>
                <h3>LATEST ORPHANAGE NEWS</h3>
                <p class="ulockd-mrgn1215">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                <a class="btn btn-lg ulockd-btn-thm2" href="#">Read More</a>
              </div>
            </div>
            <div class="overlay"></div>
            <div class="details">
              <h4 class="post_date ulockd-bgthm">20 Dec 2018</h4>
              <h3>LATEST ORPHANAGE NEWS</h3>
              <ul class="list-inline">
                <li><a href="#"><span class="fa fa-user text-thm2"></span> UlockDesign</a></li>
                <li><a href="#"><span class="fa fa-comment text-thm2"></span> 67</a></li>
                <li><a href="#"><span class="fa fa-star text-thm2"></span> 3</a></li>
                <li><a href="#"><span class="fa fa-share text-thm2"></span> 157</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>

      <div class="col-auto my-1 text-center">
      <a href="#" class="btn btn-lg ulockd-btn-thm2" >Check all Blog</a>
     
    </div>
    </div>
  </section>

  <!-- Our First Divider -->
  <section class="service-two ulockd-bgthm " id="contact">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center ">
          <div class="ulockd-main-title">
            <h2 class="mt-separator">Get In Touch</h2>
            <img class="img-responsive" src="{% static 'images/line67.png' %}" alt="title_img.png">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
          </div>
        </div>
      </div>

    


      <div class="row">
        <div class="col-sm-6 col-md-6 text-center">
          <div class="about-box">
            <div class="ab-thumb">
              <img class="img-responsive img-whp" src="{% static 'images/about/5.png' %}" alt="5.png">
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 ">
<div  id="messagebox1" style="margin-bottom: 10px;display: none;">
  <strong >Thank You, </strong> for showing interest in us we will get back you soon. 
  </div>
      <div >

          <form class="getintouchfrm" method="POST" id="getForm" onSubmit="FormSubmitApi(event)" >
            <div class="form-group col-md-12">
    <label for="inputAddress2">Name</label>
    <input type="text" name ="name" required class="form-control" id="name" placeholder="">
  </div>
 

    <div class="form-group col-md-12">
      <label for="inputEmail4">Email</label>
      <input type="email" name="email" required class="form-control" id="email" placeholder="">
    </div>
    

  <div class="form-group col-md-12">
    <label for="inputAddress">Phone</label>
    <input type="text" class="form-control" required id="phone" placeholder="">
  </div>

  <div class="form-group col-md-12">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" name="message"required id="message" rows="3"></textarea>
  </div>
  

  
  <button type="submit" class="btn btn-primary  btn-lg btn-block col-md-12">Sign in</button>
</form>
          
        </div>
      </div>
    </div>

    </div>
  </section>

  <!-- Our Partner -->
  <section class="parallax ulockd_bgi4 bgc-overlay-black5" data-stellar-background-ratio="0.3">
    <div class="container text-center">
        
        <div class="ulockd-main-title ">
            <h2 class="mt-separator text-white">Certificate</h2>
            <img class="img-responsive" src="{% static 'images/line67.png' %}" alt="title_img.png">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
          </div>



      <div class="row">
        <div class="col-md-4">

          <div class="  certificatebx">
            
            <div class="thumb ">
              <img class="img-responsive" src="{% static 'images/BSE0001.jpg' %}" alt="b2.png">              
            </div>
            
          </div>
          
        </div>

        <div class="col-md-4">

          <div class="  certificatebx">
            
            <div class="thumb ">
              <img class="img-responsive" src="{% static 'images/BSE0002.jpg' %}" alt="b2.png">              
            </div>
            
          </div>
          
        </div>

        <div class="col-md-4">

          <div class=" certificatebx">
            
            <div class="thumb">
              <img class="img-responsive" src="{% static 'images/NSE0001.jpg' %}" alt="b2.png">              
            </div>
            
          </div>
          
        </div>

      </div>
    </div>
  </section>




<section class="ulockd-blog bgc-whitef6"> 
    <div class="container-fluid bgc-whitef6">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center ">
          <div class="ulockd-main-title">
            <h2 class="mt-separator">Map</h2>
            <img class="img-responsive" src="{% static 'images/line67.png' %}" alt="title_img.png">
            
          </div>
        </div>
      </div>

    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.2164781579104!2d72.856445314381!3d19.35977704802316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5f92d83bff21dc!2sNakshatra%20Greens!5e0!3m2!1sen!2sin!4v1614965661708!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

    </div>

  </section>
<script type="text/javascript">
 async function FormSubmitApi(event){
  event.preventDefault()
let email = document.getElementById('email').value;
let phone = document.getElementById('phone').value;
let message = document.getElementById('message').value;
let name = document.getElementById('name').value;

var base_url = window.location.origin;



let data = {
  message : message,
  phone :phone,
  email:email,
  name : name
}
console.warn(data);
console.warn('Leave comment function');

let url = `${base_url}/get-in-touch/`
    // let data = {}
const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'multipart/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  // return response.json()
let res = await response.json();
console.warn(res)
document.getElementById('messagebox1').style.display ='block';

document.getElementById("getForm").reset();

  }
</script>
{% endblock %}

  