<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="icon" type="image/png" href="{% static  'images/logo.png' %}" />

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white ">
            <a class="navbar-brand  ml-3 " href="#">
                <span class="pr-3">Ganimikawa Share</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto  ">
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr active" href="index.html">Home </a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr" href="#services">Blog</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr" href="#about">About</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr" href="#footer-setting">Contact </a>
                    </li>
                </ul>
                
            </div>
        </nav>
    </header>

    <div class="conatiner">
        <div class="blog-title text-center ">
            <h1 class="text-uppercase">
                Blogs
            </h1>
        </div>
        <div class="inner-container">
            <div class="blogs-container">
                <div class="blog">
                    <div class="blog-left">
                        <img src="images/bse.jpg" alt="" srcset="">
                    </div>
                    <div class="blog-right">
                        <h3>
                            blog title
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer-setting">
        <div class="container pt-5 ">
          <div class="row">
            <div class="col-md-3 col-sm-12  text-left">
              <span class="text-left font-weight-bold title">Ganimikawa Share</span>
              <ul class="list-group rights">
               <li class="list-group-item bg-transparent border-0 p-0 ">
                <p>
                  Ganimikawa Share for small and medium-sized employers.
                </p>
               </li>
               <ul class=" d-flex list-unstyled ml-2 mb-3 social">
                <li class=" bg-transparent border-0 p-0 mb-2">
                  <a href="#"><i class="fab fa-linkedin mr-1"></i></a>
                </li>
                <li class=" bg-transparent border-0 p-0 mb-2">
                  <a href="#"><i class="fab fa-twitter ml-3"></i></a>       
                </li>
                <li class=" bg-transparent border-0 p-0 mb-2">
                  <a href="#" target="_blank"><i class="fab fa-google-plus ml-3"></i></a>  
                </li>
                <li class="bg-transparent border-0 p-0 mb-2">
                  <a href="#" target="_blank"><i class="fab fa-facebook ml-3"></i></a>
                </li>
               </ul> 
               <li class="list-group-item bg-transparent border-0 p-0 mb-2 copy-right">
                   <p>Copyright © 2017. All Rights Reserved</p>
               </li> 
               <li class="list-group-item bg-transparent border-0 p-0 mb-2 copy-right">
                  <a href="#">Privacy Policy</a>
                  <span style="color: #b8bbca;">|</span>
                  <a href="#">Terms & Condition</a>
               </li> 
              </ul>
            </div>
      
            <div class="col-md-9 col-sm-12">
      
              <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
                <h5 class="mb-4 font-weight-bold text-uppercase">company</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Sales</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Project Management</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Workforce</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#"> E-Commerce</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Finance</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Business Apps</a></li>
                </ul>
              </div>
      
              <div class="col-md-2 col-sm-6 col-6 p-0 mb-3 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">product</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Open Source</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Technology</a></li>
                </ul> 
              </div>
      
              <div class="col-md-2 col-sm-6 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">learn</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#"></i>About</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#"></i> Blog</a></li>
                </ul>
              </div>
      
              <div class="col-md-4 col-sm-6 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">Contact</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                   <p>505 Montgomery Street, Suite 2300 San Francisco CA 94111 415-593-1189</p>
                  </li>
                   <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                   <p>145 E Mountain Avenue Fort Collins CO B0524 415-593-1169</p>
                  </li>
                  </li>
                   <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                   <a>support@example.com</a>
                  </li>
                </ul>
              </div>
      
            </div>
          </div>
        </div>
      </footer>
</body>