<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="icon" type="image/png" href="{% static  'images/logo.png' %}" />

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white ">
            <a class="navbar-brand  ml-3 " href="#">
                <span class="pr-3">Ganimikawa Share</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto  ">
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr active" href="index.html">Home </a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr" href="#services">Blog</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr" href="#about">About</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link nav-link-ltr" href="#footer-setting">Contact </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="blog-title text-center ">
            <h1 class="text-uppercase">
                Blog name
            </h1>
            <p>
                Blog author
            </p>
        </div>

        <!-- first image -->
        <div class="image">

        </div>
        <!-- blog description -->

        <div class="inner-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae commodi consectetur, velit sit aut
                recusandae deleniti perferendis incidunt, eius sed placeat vitae sequi omnis a molestias exercitationem
                qui mollitia cumque.
                Culpa inventore ipsa doloremque suscipit eveniet perferendis nulla atque voluptatibus optio accusantium
                similique minus deserunt eaque molestias, dicta consectetur exercitationem? Magni explicabo sequi earum
                quasi sint tenetur officiis tempora voluptates.
                Obcaecati alias non autem blanditiis culpa enim aliquid hic fugit minima minus odit molestias debitis
                consectetur tempore veritatis modi mollitia fuga velit sed, quae officia rem ex sit molestiae. Pariatur.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae commodi consectetur, velit sit aut
                recusandae deleniti perferendis incidunt, eius sed placeat vitae sequi omnis a molestias exercitationem
                qui mollitia cumque.
                Culpa inventore ipsa doloremque suscipit eveniet perferendis nulla atque voluptatibus optio accusantium
                similique minus deserunt eaque molestias, dicta consectetur exercitationem? Magni explicabo sequi earum
                quasi sint tenetur officiis tempora voluptates.
                Obcaecati alias non autem blanditiis culpa enim aliquid hic fugit minima minus odit molestias debitis
                consectetur tempore veritatis modi mollitia fuga velit sed, quae officia rem ex sit molestiae. Pariatur.
            </p>
        </div>
        <!-- images -->
        <div class="images">
            <div class="row ">
                <div class="col-md-4 img-card">
                    <img src="./images/bse.jpg" alt="" srcset="">
                </div>
                <div class="col-md-4 img-card">
                    <img src="./images/bse.jpg" alt="" srcset="">
                </div>
                <div class="col-md-4 img-card">
                    <img src="./images/bse.jpg" alt="" srcset="">
                </div>
            </div>
        </div>

        <!-- video -->
        <video controls>
            <source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm>
            <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg>
            <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
            <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>
        </video>

        <div class="inner-container">
            <div class="comment-section">
                <h2>Comments</h2>
                <span style="display: block; height: 3px;width: 100%;background: black;margin:0 0 10px 0;"></span>
                <div class="comments">
                    <!-- <div class="comment">
                        <div class="top">
                            <div class="top-left">
                                <h4>My Name</h4>
                                <span>12 min ago</span>
                            </div>
                            <ul class="top-right">
                                <li class="star selected ">
                                    <i class="fas fa-star "></i>
                                </li>
                                <li class="star selected ">
                                    <i class="fas fa-star"></i>
                                </li>
                                <li class="star">
                                    <i class="fas fa-star"></i>
                                </li>
                                <li class="star">
                                    <i class="fas fa-star"></i>
                                </li>
                                <li class="star">
                                    <i class="fas fa-star"></i>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="bottom">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum placeat recusandae optio
                                dolores expedita quasi illo, possimus sequi voluptate aliquam fugiat similique accusamus
                                natus exercitationem molestiae veritatis nam! Eaque, voluptas?</p>
                        </div>
                    </div>  -->
                </div>

                <div class="take-comment">
                    <h2>Leave a reply</h2>
                    <form action="#">
                        <ul class="stars">
                            <li class="star">
                                <i class="fas fa-star "></i>
                            </li>
                            <li class="star">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="star">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="star">
                                <i class="fas fa-star"></i>
                            </li>
                            <li class="star">
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                        <textarea name="comment" id="commentbox" cols="30" rows="5" placeholder="Comment"></textarea>
                      <div class="form-row">
                        <div class="col-md-4">
                            <input type="text" name="name" id="name" placeholder="Name">
                           </div>
                           <div class="col-md-4">
                            <input type="email" name="email" id="emailid" placeholder="Email-id">
                           </div>
                            <div class="col-md-4">
                                <input type="text" name="mobile" id="mobile" placeholder="Mobile No">
                            </div>
                      </div>
                      <button type="submit" id="commentbtn">Comment</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    <footer id="footer-setting">
        <div class="container pt-5 ">
          <div class="row">
            <div class="col-md-3 col-sm-12  text-left">
              <span class="text-left font-weight-bold title">Ganimikawa Share</span>
              <ul class="list-group rights">
               <li class="list-group-item bg-transparent border-0 p-0 ">
                <p>
                  Ganimikawa Share for small and medium-sized employers.
                </p>
               </li>
               <ul class=" d-flex list-unstyled ml-2 mb-3 social">
                <li class=" bg-transparent border-0 p-0 mb-2">
                  <a href="#"><i class="fab fa-linkedin mr-1"></i></a>
                </li>
                <li class=" bg-transparent border-0 p-0 mb-2">
                  <a href="#"><i class="fab fa-twitter ml-3"></i></a>       
                </li>
                <li class=" bg-transparent border-0 p-0 mb-2">
                  <a href="#" target="_blank"><i class="fab fa-google-plus ml-3"></i></a>  
                </li>
                <li class="bg-transparent border-0 p-0 mb-2">
                  <a href="#" target="_blank"><i class="fab fa-facebook ml-3"></i></a>
                </li>
               </ul> 
               <li class="list-group-item bg-transparent border-0 p-0 mb-2 copy-right">
                   <p>Copyright © 2017. All Rights Reserved</p>
               </li> 
               <li class="list-group-item bg-transparent border-0 p-0 mb-2 copy-right">
                  <a href="#">Privacy Policy</a>
                  <span style="color: #b8bbca;">|</span>
                  <a href="#">Terms & Condition</a>
               </li> 
              </ul>
            </div>
      
            <div class="col-md-9 col-sm-12">
      
              <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
                <h5 class="mb-4 font-weight-bold text-uppercase">company</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Sales</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Project Management</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Workforce</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#"> E-Commerce</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Finance</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Business Apps</a></li>
                </ul>
              </div>
      
              <div class="col-md-2 col-sm-6 col-6 p-0 mb-3 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">product</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Open Source</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#">Technology</a></li>
                </ul> 
              </div>
      
              <div class="col-md-2 col-sm-6 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">learn</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#"></i>About</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="#"></i> Blog</a></li>
                </ul>
              </div>
      
              <div class="col-md-4 col-sm-6 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 font-weight-bold text-uppercase">Contact</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                   <p>505 Montgomery Street, Suite 2300 San Francisco CA 94111 415-593-1189</p>
                  </li>
                   <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                   <p>145 E Mountain Avenue Fort Collins CO B0524 415-593-1169</p>
                  </li>
                  </li>
                   <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                   <a>support@example.com</a>
                  </li>
                </ul>
              </div>
      
            </div>
          </div>
        </div>
      </footer>
    <script>
        let comments = document.querySelector('.comments');
        let stars = document.querySelectorAll('.star');
        let ratedStars = document.querySelectorAll('.rated');
        let comment = document.querySelector('#commentbox');
        let name = document.querySelector('#name');
        let commentbtn =document.querySelector('#commentbtn');
        let rating=document.querySelector('.stars');//rating
        for(i=0;i<stars.length;i++){
            stars[i].starValue= (i+1);
            stars[i].addEventListener('click',(e)=>{
               if(e.currentTarget.starValue <= i){
                  for(k=0;k<=e.currentTarget.starValue-1;k++){
                     // console.log(stars[k].classList)
                      stars[k].classList.add('selected')
                     // console.log(stars[k].classList)
                  }
               }
            });
        }
        function insertComment(e){
            e.preventDefault();
          
            // console.log("clicked")
         
            // for(j=0;j<stars.length;j++){
            //     if(j<k){
            //         stars[j].children[0].classList.add('selected')
                    
            //     }
            //     else{
                   
            //     }
            // }
            // console.log(rating)
            let date =10;
            comments.innerHTML =  comments.innerHTML +
             ` <div class="comment">
                        <div class="top">
                            <div class="top-left">
                                <h4>${name.value}</h4>
                                <span> `+ date +` ago</span>
                            </div>
                            <ul class="top-right">
                                ${rating.innerHTML}
                            </ul>
                        </div>
                        <div class="bottom">
                            <p>${comment.value}</p>
                        </div>
                    </div>` 

                stars.forEach(star=>{
                    star.classList.remove('selected');
                })
                comment.value='';
                name.value='';
                document.querySelector('#emailid').value=''
                document.querySelector('#mobile').value=''
            }
        
        commentbtn.addEventListener('click',insertComment)
    </script>
</body>

</html>